* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    font-family: Poppins, Verdana, Arial, Helvetica, sans-serif;
    overflow-X: hidden;
}
    .container{
        max-width: 1400px;
        position: relative;
    }

    /* header start  */
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;       
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1000;
        background-color: #2a2a2a93;
    }
    nav{
        padding: 0px 19px;
        display: flex;
        flex-wrap: wrap;
    }
    nav a{
        padding: 19px 22px;
        text-decoration: none;
        color: white;
        justify-content: center;
        border-radius: 0px 0px 12px 12px;
    }
    nav a:hover{
        color: #FF565B;
    }
    nav a:focus{
        background-color: #FFFFFF;
        color: #FF565B;
        border-top: 2px solid red;
    }
    /* header end  */

    /* first/banner section start  */
    #first_section{
        padding: 270px 0px 400px 0px;
        background-image: url(bg_image/banner-bg.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    #first_section main{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        color: #FFFFFF;
    }

    #first_section h3{
        word-spacing: 2px;
        letter-spacing: 2px;
        
    }
    #first_section h1{
        font-size: 50px;
        font-weight: 700;
    }

    #first_section span{
        color:#FF565B;
    }

    #first_section a{
        text-decoration: none;
        color: #FF565B;
        background-color: white;
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        transition: all 0.25s linear;
    }
    #first_section a:hover{
        background-color: #FF565B;
        color: #FFFFFF;
    }

    /* first section end  */

    /* second/search section start */
    #second_section{
        width: 83%;
        padding: 40px;
        background-color: #ffffff;
        margin: auto;
        position: relative;
        z-index: 2;
        top: -141px;
        border-radius: 8px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0,0.15);
    }

    #second_section .main_box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #second_section .main_box form{
        width: 100%;
        color: #212529;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    }
    #second_section .main_box form label{
        width:23%;
    }
    #second_section .main_box form h3,input{
        margin-bottom: 20px;
    }
    #second_section .main_box form input ,select{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #212529;
        background-color: white;
        height: 45px;
        width: 100%;
        padding: 13px;
        border-radius: 6px;
        border: 1px solid #eeeeee;
    }

    #second_section .main_box form select:focus{
        outline: 4px solid rgba(1, 84, 240, 0.274);
    }
    #second_section .search_button{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        height: 45px;
        width: 100%;
        border-radius: 10px;
        color: white;
        background-color: #ff474d;
        border: none;
        transition: all 0.22s linear;
    }
    #second_section .search_button:hover{
        background-color: #212529;
        cursor: pointer;
    }

    /* second section end  */

    /* third section start  */
    #third_section{
        width: 88%;
        margin: auto;
        display: flex;
        gap: 50px;
        color: #2A2A2A;
    }

    /* left aside start  */
    #third_section .left{
        width: 48%;
    }

    #third_section .left .armchair{
        width: 96%;
        height: 650px;
        
    }
    #third_section .left .armchair img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        
    }
    
    #third_section .left h1 span {
        color: #ff444a;
        position: relative;
        display: inline-block;
        margin-left: 100px;
    }
    #third_section .left h1 span::before{
        content: '';
        width: 80px;
        height: 2px;
        background-color: #ff565b;
        position: absolute;
        left: -100px;
        top: 23px;
    }
    /* left aside end  */

    /* right aside start  */
    #third_section .right{
        margin-top: 120px;
        width: 49%;
    }

    #third_section .right span{
        display: flex;
        gap: 10px;
    }
    #third_section i{
        font-size: 20px;
        color: rgb(110, 105, 105);
    }
    #third_section .right ul{
        list-style: none;
        margin: 20px 0px 40px 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    #third_section .right li{
        display: flex;
        gap: 60px;
    }

    #third_section .right p{
        font-size: 13px;
        color: rgb(110, 105, 105);
    }
    #third_section .right ul li span p{
        width: 174px;
    }

    #third_section a{
        text-decoration: none;
        color: #2A2A2A;
        transition: all 0.15s linear;
    }

    #third_section a:hover{
        color: #ff4349;
    }

    #third_section .right hr{
        color: rgba(0, 0, 0, 0.192);
    }
    /* right aside end  */
    /* third section end  */

    /* fourth/trending work section start  */
    #fourth_section{
        margin-top: 50px;
        width: 100%;
        height: 460px;
    }

    #fourth_section .parent{
        width: 95%;
        margin: 0 auto;
        padding-left: 30px;
        display: flex;
        gap: 50px;
        color: #2A2A2A;
    }

    /* fourth section left aside start  */
    #fourth_section .left{
        width: 40%;
        height: 460px;
        display: flex;
        align-items: center;
    }

    #fourth_section .left main p{
        margin-top: 30px;
        font-size: 13px;
    }
    #fourth_section .left main h1{
        font-size: 30px;
    }
    
    #fourth_section .left h1 span {
        color: #ff444a;
        position: relative;
        display: inline-block;
        margin-left: 100px;
    }
    #fourth_section .left h1 span::before{
        content: '';
        width: 80px;
        height: 2px;
        background-color: #ff565b;
        position: absolute;
        left: -100px;
        top: 23px;
    }

    #fourth_section a{
        margin-top: 40px;
        text-decoration: none;
        background-color: #FF565B;
        color: white;
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        transition: all 0.25s linear;
    }
    #fourth_section a:hover{
        background-color: #2A2A2A;
    }
    /* fourth section left aside end  */

    /* fourth section right aside start  */
    #fourth_section .right{
        width: 55%;
        display: flex;
        align-items: center;
    }
    #fourth_section .right .card_1{
        height: 400px;
        width: 280px;
        border-radius: 8px;
        position: relative;
        z-index: 3;
        transition: all 0.3s ease;
    }
    .card_1 .overlay_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        padding: 20px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(255, 86, 91, 0.9);
        opacity: 0;
        border-radius: 8PX;
        transition: opacity 0.3s ease;
    }
    #fourth_section .right .card_1:hover{
        height: 460px;
        width: 320px;
    }
    .card_1:hover .overlay_1{
        opacity: 0.99;
    }
    .overlay_1 h3{
        transform: translateX(-20px);
        opacity: 0;
        transition: all 0.4s ease;
    }
    .overlay_1 p{
        font-size: 12px;
        transform: translateX(20px);
        opacity: 0;
        transition: all 0.4s ease;
    }
    
    .card_1:hover .overlay_1 h3{
        transform: translateX(0);
        opacity: 1;
    }
    .card_1:hover .overlay_1 p{
        transform: translateX(0);
        opacity: 1;
    }
    #fourth_section .right .card_1 img{
        height: 100%;
        width: 100%;
        border-radius: 8PX;
    }

    #fourth_section .right .card_2{
        height: 300px;
        width: 230px;
        border-radius: 8px;
        position: relative;
        left: -5px;
        z-index: 2;
        transition: all 0.4s ease;
    }
    
    .card_2 .overlay_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        padding: 20px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(255, 86, 91, 0.9);
        opacity: 0;
        border-radius: 8PX;
        transition: all 0.3s ease;
    }
    #fourth_section .right .card_2:hover{
        height: 460px;
        width: 320px;
        z-index: 4;    
    }
    .card_2:hover .overlay_2{
         opacity: 0.99;
    }
    .overlay_2 h3{
        transform: translateX(-17px);
        opacity: 0;
        transition: all 0.4s 0.2s ease;
    }
    .overlay_2 p{
        font-size: 12px;
        transform: translateX(17px);
        opacity: 0;
        transition: all 0.4s 0.2s ease;
    }
    
    .card_2:hover .overlay_2 h3{
        transform: translateX(0);
        opacity: 1;
    }
    .card_2:hover .overlay_2 p{
        transform: translateX(0);
        opacity: 1;
    }
    #fourth_section .right .card_2 img{
        height: 100%;
        width: 100%;
        border-radius: 8PX;
    }
    #fourth_section .right .card_3{
        height: 200px;
        width: 165px;
        border-radius: 8PX;
        position: relative;
        left: -10px;
        z-index: 1;
        transition: all 0.5s ease;
    }
    #fourth_section .right .card_3 img{
        height: 100%;
        width: 100%;
        border-radius: 8PX;
    }
    .card_3 .overlay_3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        padding: 20px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(255, 86, 91, 0.9);
        opacity: 0;
        border-radius: 8PX;
        transition: opacity 0.3s ease;
    }
    #fourth_section .right .card_3:hover{
        height: 460px;
        width: 320px;
        z-index: 5;
    }
    .card_3:hover .overlay_3{
        opacity: 0.99;
    }
    .overlay_3 h3{
        transform: translateX(-10px);
        opacity: 0;
        transition: all 0.4s 0.3s ease;
    }
    .overlay_3 p{
        font-size: 12px;
        transform: translateX(10px);
        opacity: 0;
        transition: all 0.4s 0.3s ease;
    }
    
    .card_3:hover .overlay_3 h3{
        transform: translateX(0);
        opacity: 1;
    }
    .card_3:hover .overlay_3 p{
        transform: translateX(0);
        opacity: 1;
    }

    /* fourth section right aside end  */
    /* fourth/trending work section end  */

    /* fifth section start  */
    #fifth_section{
        margin-top: 80px;
        width: 100%;
        height: 650px;
        background-image: url(bg_image/crop-hands-with-map.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #fifth_section main{
        width: 80%;
        height: 72%;
        display: flex;
        border-radius: 6px;
    }
    /* fifth section left side start  */
    #fifth_section .textarea{      
        width: 50%;
        padding: 50px;
        color: #2A2A2A;
        background-color: rgb(255, 255, 255);
        border-radius: 6px 0px 0px 6px;
    }
    #fifth_section .textarea h1{
        font-size: 30px;
    }
    
    #fifth_section .textarea h1 span{
        color: #ff444a;
        position: relative;
        display: inline-block;
        margin-left: 100px;
    }
    #fifth_section .textarea h1 span::before{
        content: '';
        width: 80px;
        height: 2px;
        background-color: #ff565b;
        position: absolute;
        left: -100px;
        top: 23px;
    }

    /* fifth section form start  */
    #fifth_section form{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #fifth_section form input, textarea ,button{
        font-family: 'Poppins', sans-serif;
    }
    #fifth_section form input{
        width: 48%;
        height: 40px;
        padding: 10px;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 7px;
        
    }
    #fifth_section form textarea{
        width: 100%;
        height: 100px;
        padding: 10px;
        display: block;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 7px;
        resize: none;
    }
    #fifth_section form button{
        margin-top: 10px;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 7px;
        color: white;
        background-color: #FF444A;
        transition: all 0.3s linear;
        cursor: pointer;
    }
    #fifth_section form button:hover{
        background-color: #212529;
    }
    /* fifth section form end  */
    /* fifth section left side end  */

    /* fifth section right side start  */
    .map{
        width: 50%;
    }
    .map iframe{
        height: 100%;
        width: 100%;
        border-radius: 0px 6px 6px 0px;
    }
    /* fifth section right side end  */

    /* fifth/location section end */

    /* footer section start  */
    footer{
        color: #383838;
        margin:100px 0 50px 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    footer main{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    /* footer left side end  */
    footer main .left{
        width: 50%;
        padding-right: 200px;
    }
    footer main .left img{
        width: 200px;
        margin-bottom: 30px;
    }
    footer p,a,button{
        font-size: 14px;
        color: #7c7c7c;
    }
    /* footer right side start  */
    footer main .right{
        width: 50%;
    }

    footer main .right .reach_us{
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: space-between;
    }
    footer main .right .reach_us div{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 20px;
    }
    footer main .right .reach_us i{
        margin-right: 10px;
    }

    footer .bottom{
        margin-top: 30px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    footer a{
        text-decoration: none;
        color: #7c7c7c;
        transition: all 0.2s linear;
    }
    footer a:hover,button:hover{
        color: #ff5055;
    }

    /* footer form start  */
    footer form{
        position: relative;
        margin-top: 30px;
        width: 100%;
        height: 36px;
        display: flex;
        border-bottom: 0.5px solid rgba(187, 187, 187, 0.562);
    }
    footer form input{
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 34px;
        border:none;
        
    }
    footer form input:focus{
        outline: 0.2px solid rgb(0, 102, 255)
    }
    footer form button{
        position: absolute;
        right: 0px;
        width: 20%;
        height: 32px;
        border: none;
        background-color: white;
        cursor: pointer;
    }
    /* footer right side end  */
    /* footer form end  */

    /* footer section end  */

    /* Responsive */

    /*For Tablets */
    @media (max-width: 600px) {
      .container{
        width: 100%;
      }
      /* header part start  */
      header nav a{
        padding: 13px;
        border-radius:12px;
      }
      nav a:focus{
        background-color: #FFFFFF;
        color: #FF565B;
        border: none;
        }
        /* header part end */

        /* second section start  */
      #second_section{
        width: 88%;
        padding: 6%;
      }
      #second_section .main_box form{
        flex-direction: column;
      }
      #second_section .main_box form label{
        width: 100%;
      }
      /* second section end  */

      /* third section start */
      #third_section{
        display: block;
      }
    
      #third_section .left{
          width: 100%;
      }
      #third_section .left .armchair img{
          height: auto;
      }
      #third_section .right{
          width: 100%;
          margin-top: 60px;
      }
      
      #third_section .right li{
          display: block;
      }
      /* third section end  */

      #fourth_section .parent{
        display: block;
        width: 92%;
        height: auto;
        margin: 20px 0px;
      }
      #fourth_section .left{
        width: 100%;
        margin: 0px 0px 30px 0px;
        height: auto;
      }
      #fourth_section .right{
        width: 100%;
        height: 460px;
      }

      #fifth_section{
        margin-top: 350px;
        height: 960px;
      }
      #fifth_section main{
        height: 90%;
        display: block;
      }
      #fifth_section main .textarea{
        width: 100%;
        height: 50%;
        padding: 30px;
        border-radius: 6px 6px 0px 0px;
      }
      #fifth_section main .map{
        width: 100%;
        height: 50%;
      }
      #fifth_section .map iframe{
        border-radius: 0px 0px 6px 6px;
      }

      footer main{
        text-align: center;
        width: 90%;
        display: block;
      }
      footer main .left{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
      }
      footer main .right{
        width: 100%;
      }
      footer main .right >h4{
        margin-top: 50px;
      }
      footer .bottom{
        margin-top: 80px;
        display: block;
        text-align: center;
      }

    }
    /* For small phones  */

    @media (max-width:500px) {
        /* header part  */
        nav{
            justify-content: center;
        }
        /* first section */
        #first_section main h1{
            font-size: 2.6rem;
        }
        /* third section start  */
        #third_section .left h1{
            font-size: 1.69rem;
        }
        #third_section .right{
            margin-top: 0px;
        }
        #third_section .left .armchair{
            height: 600px;
        }
        /* third section end  */

        /* fourth section start  */
        #fourth_section .left main h1{
            font-size: 1.65rem;
        }
        #fourth_section{
            height: auto;
        }
        #fourth_section .parent{
            height: auto;
        }
        #fourth_section .right{
            flex-wrap: wrap;
            justify-content:space-around;
            gap: 20px;
            height: auto;
        }
        #fourth_section .right .card_1, #fourth_section .right .card_2,#fourth_section .right .card_3{
            width:200px;
            height: 320px;
            z-index: 0;
        }
        #fourth_section .right img{
            height: 100%;
            width: 100%;
        }
        /* fourt section end  */

        /* fift section start  */
        #fifth_section{
            height: 980px;
            margin-top: 50px;
        }
        #fifth_section .textarea h1{
            font-size: 1.62rem;
        }
        /* fifth section end  */
    }
    